---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout title="About" description={astropodConfig.description} cover={astropodConfig.cover}>
 <p>
    "Rollodesarrollo" by <a
      href="https://xauendevs.io/">Xauendevs</a
    >  nace de la idea de <a href="https://www.linkedin.com/in/albertotejeromorales/"
      >Alberto Tejero</a
    > y un servidor <a
      href="https://www.linkedin.com/in/danielredondoblanco/">Daniel Redondo</a
    > de stremear sobre desarrollo de software. Más tarde, he estado dándole
    vueltas a esa idea y en mi momento actual, repleto de inquietudes (tanto dentro como
    fuera del mundo del software) he decidido empezar este proyecto como un
    podcast, inspirado como digo en mis inquietudes actuales (sobre todo
    economía e inversión) y también una de mis pasiones: el desarrollo de software, en lo
    que llevo trabajando 8 años por cuenta ajena en diferentes empresas,
    proyectos, tecnologías...
  </p>
  <p>
    Dentro de estas inspiraciones, uno de los podcast que me ha impactado
    recientemente y del cual quiero tomar esencia es "Dinero sin filtros" de
    <a href="https://www.youtube.com/@UriVyce">UriVyce</a>
     Sé que no tiene nada que ver con el desarrollo de software, pero el formato
    me gusta y realmente quiero que "Rollodesarrollo" abarque un concepto más
    amplio de la palabra desarrollo, ya que realmente quiero desarrollar mis
    conocimientos, capacidades e inquietudes mientras hago todo esto y, de esta manera, que tú
    tambien te desarrolles. Entonces este será el formato: preguntas sin filtros
    a desarrolladores de software. Todo esto es la teoría, ya veremos en la
    práctica como lo llevo a cabo. Lo que si quiero es que nos divirtamos y nos
    desarrollemos, así que siembre son bienvenidas tus opiniones y sugerencias.
    Puedes tirarme un DM <a href="https://www.instagram.com/01000100rb/"
      >instagram</a
    >
  </p>
</EpisodeLayout>
